body {
  background: #cccded;
}

.demo-container {
  background: #f2f6f7;
  width: 100%;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}
.demo-container .demo-container-controls {
  text-align: center;
}
.demo-container .demo-container-options {
  margin: 0 auto;
}
.demo-container .demo-container-options .input-group {
  margin: 0 auto;
}
.demo-container .demo-container-options .input-group-addon {
  width: 100%;
  width: 125px;
  max-width: 125px;
}
.demo-container .demo-container-options .btn-group {
  margin: 0 auto;
}
.demo-container .demo-container-canvas {
  background: #eee;
  padding: 10px;
}
.demo-container .demo-container-canvas .demo-canvas {
  background: #fff;
  border: 1px solid #000;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.post {
  padding: 10px;
  background: #f00;
}
.post header {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.post header .title {
  display: block;
  width: 100%;
  font: normal small-caps 1.4em Times New Roman, sans-serif;
}
.post header .title .timestamp {
  font-size: 0.7em;
  font-style: italic;
}
.post header .tags {
  clear: both;
  margin: 5px;
  font: small-caps normal 1.2em Arial;
}
.post header .tags .tag {
  margin: 1px;
  padding: 1px;
}
.post .intro {
  margin: 10px;
  padding: 5px;
}
.post-sidebar {
  background: #f2f6f7;
}
.post-sidebar .tag-listings {
  padding: 5px;
}
