.demo-container
  width 100%

  .demo-canvas
    background white
    border 1px solid black
    display block
    text-align center
    margin 0 auto
    width 350px
    height 350px
    padding 25px
