.demo-container
  background #F2F6F7
  width 100%
  border 1px solid black
  margin 10px
  padding 10px

  .demo-container-controls
    text-align center

  .demo-container-options
    margin 0 auto
    .input-group
      margin 0 auto
    .input-group-addon
      width 100%
      width 125px
      max-width 125px
    .btn-group
      margin 0 auto

  .demo-container-canvas
    background #EEE
    padding 10px

    .demo-canvas
      background white
      border 1px solid black
      display block
      text-align center
      margin 0 auto
