.demo-container
  width 100%
  border 1px solid black
  margin 10px
  padding 10px

  .demo-container-options
    border 1px solid black

  .demo-container-canvas
    background blue

    .demo-canvas
      background white
      border 1px solid black
      display block
      text-align center
      margin 0 auto
      width 350px
      height 350px
      padding 25px
