.post
  padding 10px
  header
    border-bottom 1px solid black
    border-right 1px solid black

    .title
      display block
      width 100%
      font normal small-caps 1.4em Times New Roman, sans-serif

    .tags
      clear both
      margin 5px
      list-style-type none
      .tag
        margin 1px
        height 15px
        padding 2px 10px
        background white
        border 1px solid black
        border-radius 5px

  .intro
    margin 10px
    padding 5px
    background white


.post-sidebar
  .tag-listings
    padding 5px

      
