second-color = red
.post
  padding 10px

  background second-color
  header
    border-bottom 1px solid black
    border-right 1px solid black

    .title
      display block
      width 100%
      font normal small-caps 1.4em Times New Roman, sans-serif

      .timestamp
        font-size 0.7em
        font-style italic

    .tags
      clear both
      margin 5px
      font small-caps normal 1.2em Arial
      .tag
        margin 1px
        padding 1px

  .intro
    margin 10px
    padding 5px


.post-sidebar
  background #F2F6F7
  .tag-listings
    padding 5px

      
