<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">


    <!-- build:css ../styles/vendor.css -->
    <!--<link rel="stylesheet" href="../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf">-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <!-- endbuild -->
    <!-- build:css ../styles/app.css -->
    <link rel="stylesheet" href="../styles/app.css" type="text/css" media="all" />
    <!-- endbuild -->

    <title>amctammany.com</title>


  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AMcTammany</a>
        </div>

        <div id="navbar-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/blog">Blog</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">plexi.js</a>
                </li>
                <li>
                  <a href="#">Scrabble</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="well">
            Sidebar
            <span class="glyphicon glyphicon-search"></span>
          </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-8">
          <div class="well">
            Blog!
            <% posts.forEach(function(post) { %>
              <h1><%= post %></h1>

            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <h1>Blog me!</h1>

    <!-- build:js ../scripts/modules.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/d3/d3.js"></script>

    <!-- endbuild -->
    <!-- LiveReload Script -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- LiveReload -->

  </body>

</html>
